*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //10px
  box-sizing: border-box;
}
body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  line-height: 1.6;
}
a {
  text-decoration: none;
  color: #fff;
}
li {
  list-style: none;
}
.container {
  max-width: 110rem;
  margin: 0 auto;
}
$color-white: #fff;
$color-black: hsl(0, 0%, 0%);
$color-dark-gray: hsl(0, 0%, 55%);
$color-very-dark-gray: hsl(0, 0%, 41%);
